{% extends '::template.html.twig' %}
{% block stepholder %}
<div id="step-holder">
			<div class="step-no">1</div>
			<div class="step-dark-left"><a href="">Edit Cabine </a></div>
		</div>
{% endblock %}
{% block form %}
{{ form_start(edit_form) }}

        <table border="0" cellpadding="0" cellspacing="0"  id="id-form">

<tr>
        <th valign="top"> nomCabine </th>
        <td>   
        {{ form_widget(edit_form.nomCabine)}}
        </td>
        <td>       
</td>
        </tr>
          <tr><td></td><td>     {{ form_widget(edit_form.submit,{'attr': {'class': 'form-submit'}} )}}
      </td></tr>
        </table>

    {{form_end(edit_form)}}
   
{% endblock %}
